1. Memuat data

In [36]:
import pandas as pd
import numpy as np
movie = pd.read_csv("Movie_classification.csv")
movie.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400,1
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800,1
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400,1

2. Mengecek Nilai Duplikat

In [37]:
duplicate_rows = df.duplicated().sum()
print(f"Jumlah baris duplikat: {duplicate_rows}")

Jumlah baris duplikat: 0

3. Menemukan Nilai Null dan Presentase Nilai Null

In [38]:
null_values = df.isnull().sum()
null_percentage = (null_values / len(df)) * 100
print("Presentase nilai null per kolom:\n", null_percentage)

Presentase nilai null per kolom:
 Marketing expense      0.000000
Production expense     0.000000
Multiplex coverage     0.000000
Budget                 0.000000
Movie_length           0.000000
Lead_ Actor_Rating     0.000000
Lead_Actress_rating    0.000000
Director_rating        0.000000
Producer_rating        0.000000
Critic_rating          0.000000
Trailer_views          0.000000
3D_available           0.000000
Time_taken             2.371542
Twitter_hastags        0.000000
Genre                  0.000000
Avg_age_actors         0.000000
Num_multiplex          0.000000
Collection             0.000000
Start_Tech_Oscar       0.000000
dtype: float64

4. Drop missing value berdasarkan baris, kolom, imputasi dengan mean, modus, median.

In [39]:
# Drop Missing Value Berdasarkan Baris
drop_baris = df.dropna()
print("\nData setelah menghapus baris dengan missing values:\n", drop_baris)

Data setelah menghapus baris dengan missing values:
      Marketing expense  Production expense  Multiplex coverage     Budget  \
0              20.1264               59.62               0.462  36524.125
1              20.5462               69.14               0.531  35668.655
2              20.5458               69.14               0.531  39912.675
3              20.6474               59.36               0.542  38873.890
4              21.3810               59.36               0.542  39701.585
..                 ...                 ...                 ...        ...
501            21.2526               78.86               0.427  36624.115
502            20.9054               78.86               0.427  33996.600
503            21.2152               78.86               0.427  38751.680
504            22.1918               78.86               0.427  37740.670
505            20.9482               78.86               0.427  33496.650

     Movie_length  Lead_ Actor_Rating  Lead_Actress_rating  Director_rating  \
0           138.7               7.825                8.095            7.910
1           152.4               7.505                7.650            7.440
2           134.6               7.485                7.570            7.495
3           119.3               6.895                7.035            6.920
4           127.7               6.920                7.070            6.815
..            ...                 ...                  ...              ...
501         142.6               8.680                8.775            8.620
502         150.2               8.780                8.945            8.770
503         164.5               8.830                8.970            8.855
504         162.8               8.730                8.845            8.800
505         154.3               8.640                8.880            8.680

     Producer_rating  Critic_rating  Trailer_views 3D_available  Time_taken  \
0              7.995           7.94         527367          YES      109.60
1              7.470           7.44         494055           NO      146.64
2              7.515           7.44         547051           NO      147.88
3              7.020           8.26         516279          YES      185.36
4              7.070           8.26         531448           NO      176.48
..               ...            ...            ...          ...         ...
501            8.970           6.80         492480           NO      186.96
502            8.930           7.80         482875          YES      132.24
503            9.010           7.80         532239           NO      109.56
504            8.845           6.80         496077          YES      158.80
505            8.790           6.80         518438          YES      205.60

     Twitter_hastags     Genre  Avg_age_actors  Num_multiplex  Collection  \
0            223.840  Thriller              23            494       48000
1            243.456     Drama              42            462       43200
2           2022.400    Comedy              38            458       69400
3            225.344     Drama              45            472       66800
4            225.792     Drama              55            395       72400
..               ...       ...             ...            ...         ...
501          243.584    Action              27            561       44800
502          263.296    Action              20            600       41200
503          243.824    Comedy              31            576       47800
504          303.520    Comedy              47            607       44000
505          203.040    Comedy              45            604       38000

     Start_Tech_Oscar
0                   1
1                   0
2                   1
3                   1
4                   1
..                ...
501                 0
502                 0
503                 0
504                 0
505                 0

[494 rows x 19 columns]

In [40]:
# Drop Missing Value Berdasarkan Kolom
drop_kolom = df.dropna(axis=1)
print("\nData setelah menghapus kolom dengan missing values:\n", drop_kolom)

Data setelah menghapus kolom dengan missing values:
      Marketing expense  Production expense  Multiplex coverage     Budget  \
0              20.1264               59.62               0.462  36524.125
1              20.5462               69.14               0.531  35668.655
2              20.5458               69.14               0.531  39912.675
3              20.6474               59.36               0.542  38873.890
4              21.3810               59.36               0.542  39701.585
..                 ...                 ...                 ...        ...
501            21.2526               78.86               0.427  36624.115
502            20.9054               78.86               0.427  33996.600
503            21.2152               78.86               0.427  38751.680
504            22.1918               78.86               0.427  37740.670
505            20.9482               78.86               0.427  33496.650

     Movie_length  Lead_ Actor_Rating  Lead_Actress_rating  Director_rating  \
0           138.7               7.825                8.095            7.910
1           152.4               7.505                7.650            7.440
2           134.6               7.485                7.570            7.495
3           119.3               6.895                7.035            6.920
4           127.7               6.920                7.070            6.815
..            ...                 ...                  ...              ...
501         142.6               8.680                8.775            8.620
502         150.2               8.780                8.945            8.770
503         164.5               8.830                8.970            8.855
504         162.8               8.730                8.845            8.800
505         154.3               8.640                8.880            8.680

     Producer_rating  Critic_rating  Trailer_views 3D_available  \
0              7.995           7.94         527367          YES
1              7.470           7.44         494055           NO
2              7.515           7.44         547051           NO
3              7.020           8.26         516279          YES
4              7.070           8.26         531448           NO
..               ...            ...            ...          ...
501            8.970           6.80         492480           NO
502            8.930           7.80         482875          YES
503            9.010           7.80         532239           NO
504            8.845           6.80         496077          YES
505            8.790           6.80         518438          YES

     Twitter_hastags     Genre  Avg_age_actors  Num_multiplex  Collection  \
0            223.840  Thriller              23            494       48000
1            243.456     Drama              42            462       43200
2           2022.400    Comedy              38            458       69400
3            225.344     Drama              45            472       66800
4            225.792     Drama              55            395       72400
..               ...       ...             ...            ...         ...
501          243.584    Action              27            561       44800
502          263.296    Action              20            600       41200
503          243.824    Comedy              31            576       47800
504          303.520    Comedy              47            607       44000
505          203.040    Comedy              45            604       38000

     Start_Tech_Oscar
0                   1
1                   0
2                   1
3                   1
4                   1
..                ...
501                 0
502                 0
503                 0
504                 0
505                 0

[506 rows x 18 columns]

In [41]:
# Imputasi dengan Mean
mean_imputation = df.copy(deep=True)
if 'Time_taken' in mean_imputation.columns:
    mean_imputation['Time_taken'] = mean_imputation['Time_taken'].fillna(mean_imputation['Time_taken'].mean())
print("\nData setelah imputasi dengan mean:\n", mean_imputation)

Data setelah imputasi dengan mean:
      Marketing expense  Production expense  Multiplex coverage     Budget  \
0              20.1264               59.62               0.462  36524.125
1              20.5462               69.14               0.531  35668.655
2              20.5458               69.14               0.531  39912.675
3              20.6474               59.36               0.542  38873.890
4              21.3810               59.36               0.542  39701.585
..                 ...                 ...                 ...        ...
501            21.2526               78.86               0.427  36624.115
502            20.9054               78.86               0.427  33996.600
503            21.2152               78.86               0.427  38751.680
504            22.1918               78.86               0.427  37740.670
505            20.9482               78.86               0.427  33496.650

     Movie_length  Lead_ Actor_Rating  Lead_Actress_rating  Director_rating  \
0           138.7               7.825                8.095            7.910
1           152.4               7.505                7.650            7.440
2           134.6               7.485                7.570            7.495
3           119.3               6.895                7.035            6.920
4           127.7               6.920                7.070            6.815
..            ...                 ...                  ...              ...
501         142.6               8.680                8.775            8.620
502         150.2               8.780                8.945            8.770
503         164.5               8.830                8.970            8.855
504         162.8               8.730                8.845            8.800
505         154.3               8.640                8.880            8.680

     Producer_rating  Critic_rating  Trailer_views 3D_available  Time_taken  \
0              7.995           7.94         527367          YES      109.60
1              7.470           7.44         494055           NO      146.64
2              7.515           7.44         547051           NO      147.88
3              7.020           8.26         516279          YES      185.36
4              7.070           8.26         531448           NO      176.48
..               ...            ...            ...          ...         ...
501            8.970           6.80         492480           NO      186.96
502            8.930           7.80         482875          YES      132.24
503            9.010           7.80         532239           NO      109.56
504            8.845           6.80         496077          YES      158.80
505            8.790           6.80         518438          YES      205.60

     Twitter_hastags     Genre  Avg_age_actors  Num_multiplex  Collection  \
0            223.840  Thriller              23            494       48000
1            243.456     Drama              42            462       43200
2           2022.400    Comedy              38            458       69400
3            225.344     Drama              45            472       66800
4            225.792     Drama              55            395       72400
..               ...       ...             ...            ...         ...
501          243.584    Action              27            561       44800
502          263.296    Action              20            600       41200
503          243.824    Comedy              31            576       47800
504          303.520    Comedy              47            607       44000
505          203.040    Comedy              45            604       38000

     Start_Tech_Oscar
0                   1
1                   0
2                   1
3                   1
4                   1
..                ...
501                 0
502                 0
503                 0
504                 0
505                 0

[506 rows x 19 columns]

In [42]:
#Imputasi dengan Modus
modus_imputation = df.copy(deep=True)
if 'Time_taken' in modus_imputation.columns:
    modus_imputation['Time_taken'] = modus_imputation['Time_taken'].fillna(modus_imputation['Time_taken'].mode()[0])
print("\nData setelah imputasi dengan modus:\n", modus_imputation)

Data setelah imputasi dengan modus:
      Marketing expense  Production expense  Multiplex coverage     Budget  \
0              20.1264               59.62               0.462  36524.125
1              20.5462               69.14               0.531  35668.655
2              20.5458               69.14               0.531  39912.675
3              20.6474               59.36               0.542  38873.890
4              21.3810               59.36               0.542  39701.585
..                 ...                 ...                 ...        ...
501            21.2526               78.86               0.427  36624.115
502            20.9054               78.86               0.427  33996.600
503            21.2152               78.86               0.427  38751.680
504            22.1918               78.86               0.427  37740.670
505            20.9482               78.86               0.427  33496.650

     Movie_length  Lead_ Actor_Rating  Lead_Actress_rating  Director_rating  \
0           138.7               7.825                8.095            7.910
1           152.4               7.505                7.650            7.440
2           134.6               7.485                7.570            7.495
3           119.3               6.895                7.035            6.920
4           127.7               6.920                7.070            6.815
..            ...                 ...                  ...              ...
501         142.6               8.680                8.775            8.620
502         150.2               8.780                8.945            8.770
503         164.5               8.830                8.970            8.855
504         162.8               8.730                8.845            8.800
505         154.3               8.640                8.880            8.680

     Producer_rating  Critic_rating  Trailer_views 3D_available  Time_taken  \
0              7.995           7.94         527367          YES      109.60
1              7.470           7.44         494055           NO      146.64
2              7.515           7.44         547051           NO      147.88
3              7.020           8.26         516279          YES      185.36
4              7.070           8.26         531448           NO      176.48
..               ...            ...            ...          ...         ...
501            8.970           6.80         492480           NO      186.96
502            8.930           7.80         482875          YES      132.24
503            9.010           7.80         532239           NO      109.56
504            8.845           6.80         496077          YES      158.80
505            8.790           6.80         518438          YES      205.60

     Twitter_hastags     Genre  Avg_age_actors  Num_multiplex  Collection  \
0            223.840  Thriller              23            494       48000
1            243.456     Drama              42            462       43200
2           2022.400    Comedy              38            458       69400
3            225.344     Drama              45            472       66800
4            225.792     Drama              55            395       72400
..               ...       ...             ...            ...         ...
501          243.584    Action              27            561       44800
502          263.296    Action              20            600       41200
503          243.824    Comedy              31            576       47800
504          303.520    Comedy              47            607       44000
505          203.040    Comedy              45            604       38000

     Start_Tech_Oscar
0                   1
1                   0
2                   1
3                   1
4                   1
..                ...
501                 0
502                 0
503                 0
504                 0
505                 0

[506 rows x 19 columns]

In [43]:
# Imputasi dengan Median
median_imputation = df.copy(deep=True)
if 'Time_taken' in median_imputation.columns:
    median_imputation['Time_taken'] = median_imputation['Time_taken'].fillna(median_imputation['Time_taken'].median())
print("\nData setelah imputasi dengan median:\n", median_imputation)

Data setelah imputasi dengan median:
      Marketing expense  Production expense  Multiplex coverage     Budget  \
0              20.1264               59.62               0.462  36524.125
1              20.5462               69.14               0.531  35668.655
2              20.5458               69.14               0.531  39912.675
3              20.6474               59.36               0.542  38873.890
4              21.3810               59.36               0.542  39701.585
..                 ...                 ...                 ...        ...
501            21.2526               78.86               0.427  36624.115
502            20.9054               78.86               0.427  33996.600
503            21.2152               78.86               0.427  38751.680
504            22.1918               78.86               0.427  37740.670
505            20.9482               78.86               0.427  33496.650

     Movie_length  Lead_ Actor_Rating  Lead_Actress_rating  Director_rating  \
0           138.7               7.825                8.095            7.910
1           152.4               7.505                7.650            7.440
2           134.6               7.485                7.570            7.495
3           119.3               6.895                7.035            6.920
4           127.7               6.920                7.070            6.815
..            ...                 ...                  ...              ...
501         142.6               8.680                8.775            8.620
502         150.2               8.780                8.945            8.770
503         164.5               8.830                8.970            8.855
504         162.8               8.730                8.845            8.800
505         154.3               8.640                8.880            8.680

     Producer_rating  Critic_rating  Trailer_views 3D_available  Time_taken  \
0              7.995           7.94         527367          YES      109.60
1              7.470           7.44         494055           NO      146.64
2              7.515           7.44         547051           NO      147.88
3              7.020           8.26         516279          YES      185.36
4              7.070           8.26         531448           NO      176.48
..               ...            ...            ...          ...         ...
501            8.970           6.80         492480           NO      186.96
502            8.930           7.80         482875          YES      132.24
503            9.010           7.80         532239           NO      109.56
504            8.845           6.80         496077          YES      158.80
505            8.790           6.80         518438          YES      205.60

     Twitter_hastags     Genre  Avg_age_actors  Num_multiplex  Collection  \
0            223.840  Thriller              23            494       48000
1            243.456     Drama              42            462       43200
2           2022.400    Comedy              38            458       69400
3            225.344     Drama              45            472       66800
4            225.792     Drama              55            395       72400
..               ...       ...             ...            ...         ...
501          243.584    Action              27            561       44800
502          263.296    Action              20            600       41200
503          243.824    Comedy              31            576       47800
504          303.520    Comedy              47            607       44000
505          203.040    Comedy              45            604       38000

     Start_Tech_Oscar
0                   1
1                   0
2                   1
3                   1
4                   1
..                ...
501                 0
502                 0
503                 0
504                 0
505                 0

[506 rows x 19 columns]

5. Export data ke csv dan excel

In [44]:
# Export ke Excel
movie.to_excel("movie_clean.xlsx", index=False)
baris.to_excel("baris_clean.xlsx", index=False)
kolom.to_excel("kolom_clean.xlsx", index=False)
mean_imputation.to_excel("mean_clean.xlsx", index=False)
modus_imputation.to_excel("modus_clean.xlsx", index=False)
median_imputation.to_excel("median_clean.xlsx", index=False)

# Export ke CSV
movie.to_csv("movie_clean.csv", index=False)
baris.to_csv("baris_clean.csv", index=False)
kolom.to_csv("kolom_clean.csv", index=False)
mean_imputation.to_csv("mean_clean.csv", index=False)
modus_imputation.to_csv("modus_clean.csv", index=False)
median_imputation.to_csv("median_clean.csv", index=False)

print("Data telah diekspor ke format CSV dan Excel.")

Data telah diekspor ke format CSV dan Excel.